*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}
.rodape-aplicacao
{
    width: 95%;
    height: 80px;
    background-color: #423f3f;
    color: #c1c1c1;
    font-weight: bolder;
    text-align: center;
    margin: 5px auto;
    border-radius: 10px;
    bottom: 0;
        position: both;
        width: 100%;
        text-align: center;
}
.texto-rodape
{
    padding: 30px;
}
.form-select
{
    width: 150px;
    margin-left: 20px;
    font-size: 11px;
    font-style: italic;
}