*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}
.container
{
    width: 100%;
    height: 70vh;
    background-image: url('/images/fundos-telas/fundo-dois.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.rodape-aplicacao
{
    width: 95%;
    height: 10vh;
    background-color: #423f3f;
    color: #c1c1c1;
    font-weight: bolder;
    text-align: center;
    margin: 5px auto;
    border-radius: 10px;
}
.texto-rodape
{
    padding: 30px;
}